## More details here: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions
#  e.g. https://xxx.api.cognitive.microsoft.com/
{"LUIS_RUNTIME_KEY":"xxx",
"LUIS_RUNTIME_ENDPOINT":"https://westus.api.cognitive.microsoft.com/",
"LUIS_RUNTIME_APPID":"xxx"}